.login {
  min-height: 100vh;
}
#header{
  color: white;
}
.line {
  border: 2px solid rgb(236, 236, 236);
  position: relative;
  top: 5px;
}
img{
  margin-top:50px;
}

h2{
  text-align: center;
  margin-bottom: 30px;
}
.bg-image {
  background-color: #1F3054;
  background-size: cover;
  background-position: center center;
}

.btn-google {
	color: white !important;
	background-color: #f0423c;
  margin-bottom: 10px;
}

.form-group{
  margin-top: 30px;
}
.mybtn{
  border-radius:50px;
  margin-top: 25px;
} 
