@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

a,
a:hover {
    text-decoration: none;
}

.myform-area {
    overflow: hidden;
    padding: 60px 0;
    background: #f4fffe;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.myform-area .form-area {
    position: relative;
    background: rgba(10, 16, 65, 0.973);
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.myform-area .form-area .form-content {
    width: 50%;
    padding: 40px 30px;
}

.myform-area .form-area .form-content p {
    color: #fff;
    position: relative;
    top: 20px;
}

.myform-area .form-area .form-content h3 {
    color: #fff;
    position: relative;
    top: 20px;
}

.myform-area .form-area .form-content .line {
    border: 1px solid rgb(236, 236, 236);
    position: relative;
    top: 30px;
}

.myform-area .form-area .form-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 60px;
    position: relative;
}

.myform-area .form-area .form-input {
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-input {
    width: 50%;
    background: #fff;
    padding: 40px 30px;
}

.myform-area .form-area .form-input h2 {
    margin-bottom: 20px;
    color: #07315B;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
.myform-area .form-area .form-input .btn-google {
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: $google-blue;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

.myform-area .form-area .form-input input {
    position: relative;
    height: 60px;
    padding: 20px 0;
}

.myform-area .form-area .form-input textarea {
    height: 120px;
    padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea {
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #07315B;
}

.myform-area .form-area .form-input form .form-group {
    position: relative;
}

.myform-area .form-area .form-input form .form-group label {
    position: absolute;
    text-transform: capitalize;
    top: 20px;
    left: 0;
    pointer-events: none;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
    transition: all .6s;
}

.myform-area .form-area .form-input input:focus~label,
.myform-area .form-area .form-input textarea:focus~label,
.myform-area .form-area .form-input input:valid~label,
.myform-area .form-area .form-input textarea:valid~label {
    top: -5px;
    opacity: 0;
    left: 0;
    color: rgba(103, 58, 183);
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}

.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid {
    border-bottom: 2px solid rgb(252, 251, 255);
}

.myform-area .form-area .form-text {
    margin-top: 30px;
}

.myform-area .form-area .form-text span a {
    color: rgb(16, 21, 95);
}

.myform-area .form-area .myform-button {
    margin-top: 30px;
}

.myform-area .form-area .myform-button .myform-btn {
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: rgb(26, 25, 100);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.myform-area .form-area .myform-button .myform-btn:hover {
    background: #1b7cdd;
}

.myform-area .form-area .from-register p {
    color: #595959;
}