@import '../../../scss/variable';

.container-fluid {
  height: fit-content;

  @include media(tablet) {
    height: 100vh;
  }
}

img.logo {
  height: 50px;

  @include media(tablet) {
    height: 120px;
  }
  @include media(desktop) {
    height: 150px;
  }
}

.content-wrapper {
  padding: 0 20px;

  h1 {
    font-weight: 600;
  }

  @include media(tablet) {
    padding: 0 60px;
  }
}

.line {
  border: 2px solid rgb(236, 236, 236);
}

.btn-google {
	background-color: #4680ff;

  i {
    color: #4680ff;
  }
}

.bg-blue {
  background-color: #1F3054;
}

.text {
  &-darkblue {
  color: #1F3054;
  }

  &-grey {
    color: #6e6e6e;
  }
}

button, label {
  font-weight: 600;
}

input, label {
  font-size: 1.2rem;
}

i.fas {
  &.fa-user, &.fa-lock {
    position: absolute;
    top: 65%;
    left: 20px;
    transform: translateY(-10%);
  }
}

h6.separator {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #666;

  &:before, &:after {
    content: '';
    border-top: 1px solid #e4e7e8;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &:after {
    margin: 0 0 0 20px;
  }
}
