<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <div class="nav-left col-2 d-flex align-items-center position-relative">
      <a class="navbar-brand mx-auto" href="#">Logo</a>
      <a href="#" role="button" class="position-absolute top-25 end-0">
        <i-feather name="menu" class="feather-20"></i-feather>
      </a>
    </div>

    <div class="nav-right col-auto">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link align-self-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ username }}
            <i-feather name="user" class="ms-1 feather-18"></i-feather>
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item align-self-center position-relative" href="#">
                Logout
                <i-feather name="log-out" class="feather-18 position-absolute"></i-feather>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
