/* font */
$font-stack: 'Poppins','Mitr', sans-serif;

/* color */
$blue: #4680ff;
$light-blue: #97a7c1;
$dark-blue: #101b33;

$light-white: rgba(255, 255, 255, 0.8);
$light-black: #535763;

/* background color */
$bg-grd-dark: linear-gradient(to right, #101b33 0%, #1f3054 100%);
