/* icon size */
.feather {
  &-16 {
    width: 16px !important;
    height: 16px !important;
  }

  &-18 {
    width: 18px !important;
    height: 18px !important;
  }

  &-20 {
    width: 20px !important;
    height: 20px !important;
  }
}

/* responsive */
$breakpoints: (
  mobile : 0px,
  tablet : 426px,
  desktop: 992px
);

@mixin media($keys...){
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)){
      @content
    }
  }
}
