@import '../../../scss/variable';
@import '../../../scss/base';

.heading {
  color: #1f3054;
  font-weight: 600;
}

.card.department {
  color: black;
  min-height: 235px;
  background-color: $bg-grey;

  &.grey {
    background-color: $bg-darkgrey;
  }
}

.shift-wrapper {
  p.rounded-25 {
    width: fit-content;
  }
}

/* chart */
.chart-wrapper {
  right: 0;
  bottom: .2rem;
}
