@import '../../../scss/variable';

.heading {
  color: #1f3054;
  font-weight: 600;
}

.card.department {
  color: black;
  min-height: 240px;
  background-color: $bg-grey;

  &.grey {
    background-color: $bg-darkgrey;
  }
}

.ot-wrapper {
  .hours {
    width: fit-content;
  }
}

/* chart */
.chart-wrapper {
  right: 0;
  bottom: 5px;
}
