<section class="myform">
    <h3 style="text-align:center">Reset Password</h3>
    <main id="main-holder">

        <form id="password-form">
            <input type="password" name="รหัสผ่านใหม่" id="username-field" class="password-form-field" placeholder="รหัสผ่านใหม่">
            <input type="password" name="ยืนยันรหัสผ่าน" id="password-field" class="password-form-field" placeholder="ยืนยันรหัสผ่าน">
        </form>
        <form action="http://localhost:4200/auth/login">
            <input type="submit" value="ยืนยัน" id="password-form-submit">
        </form>
    </main>
</section>