@import '../../../scss/variable';

.department-info-wrapper {
  .heading {
    color: #1f3054;
    font-weight: 600;
  }

  .name {
    width: fit-content;
    font-weight: 400;
  }
}

.detail-wrapper {
  font-size: 1.2rem;

  .date-wrapper {
    font-size: 1.3rem;

    i {
      font-size: 1.5rem;
    }
  }
}

.date-select {
  &.ng-select ::ng-deep {
    .ng-arrow-wrapper .ng-arrow {
      margin-left: 10px;
      color: white;
    }
  }

  i {
    left: 20px;
  }
}

.bg-blue {
  background-color: $bg-blue;
}

.text-blue {
  color: #3a538a;
}

.ot-wrapper {
  .hours {
    width: fit-content;
  }
}

.circle-bg {
  stroke: #eee;
}

.chart-wrapper {
  width: 55% !important;

  @include media(tablet) {
    width: 90% !important;
  }
}
