<main>
  <div class="row row-cols-2 gx-lg-3">
    <div class="col-12 col-lg-6 col-xxl-5">
      <div class="card rounded-25 border-0 shadow-lg">
        <div class="mt-4 mx-4">
          <h3 class="mb-0 heading d-inline">Department</h3>
          <h3 class="name d-inline px-3 ms-4 rounded-25 shadow text-white bg-blue">{{ department.name }}</h3>
        </div>

        <div class="row mx-3 mt-2 mb-4 g-3">
          <div class="col d-flex justify-content-center align-items-center">
            <div class="chart-wrapper w-80">
              <svg viewBox="0 0 36 36" class="circular-chart green">
                <path class="circle-bg"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path *ngIf="department.active_employee > 0" class="circle"
                  [attr.stroke-dasharray]="getPercentage(department.active_employee, department.total_employee) + ', 100'"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <text x="18" y="19.35" class="percentage" *ngIf="department.active_employee">{{ getPercentage(department.active_employee, department.total_employee) + '%' }}</text>
                <text x="10" y="25.35" class="total-employee" *ngIf="department.active_employee">{{ department.active_employee + '/' + department.total_employee + ' คน' }}</text>
              </svg>
            </div>
          </div>

          <div class="col align-self-center m-0 detail-wrapper">
            <div class="row my-3 d-flex align-items-center date-wrapper">
              <i class="col-auto fas fa-calendar text-blue"></i>
              <p class="col-auto mb-0 px-3 rounded-25 shadow text-white bg-blue">{{ date }}</p>
            </div>

            <div class="row my-3 d-flex align-items-center">
              <i class="fas fa-clock me-2 col-auto"></i>
              <p class="px-2 rounded-25 shadow bg-white col-auto mb-0">{{ planshifts[0].start_time + ' - ' + planshifts[0].end_time }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xxl-7">
      <div class="card rounded-25 border-0 shadow-lg h-100">
        <div class="mt-4 mx-4 align-items-center">

          <div class="assign-top align-items-center row">
            <h3 class="mb-0 heading d-flex justify-content-start col">Assign</h3>
            <div class="d-flex justify-content-end col">
              <h5 class="mb-0">Select Mode</h5>
              <button [ngClass]="{'btn-active': shiftBtnActive}" class="border-0 rounded-15 mx-2 px-3" (click)="setAssignMode('shift')">Shift</button>
              <button [ngClass]="{'btn-active': otBtnActive}" class="border-0 rounded-15 me-2 px-3" (click)="setAssignMode('ot')">OT</button>
            </div>
          </div>

          <form [formGroup]="assign_form" (ngSubmit)="onSubmit()" class="mx-2 h-100 mt-3">
            <div class="row">
              <mat-form-field appearance="legacy">
                <mat-label>Choose Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [formGroup]="assign_form" [min]="today">
                  <input matStartDate formControlName="start_date" placeholder="Start Date">
                  <input matEndDate formControlName="end_date" placeholder="End Date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <div class="row my-2">
              <div *ngIf="shiftBtnActive" class="col row align-self-center">
                <p class="col-auto mb-0">Start Shift</p>
                <div class="col time-picker position-relative">
                  <input class="border-0 border-bottom w-100 form-control form-control-sm shadow-none"
                    [ngxTimepicker]="toggleTimepicker" [format]="24" formControlName="shift" readonly required>
                  <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                  <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                </div>
              </div>

              <div *ngIf="otBtnActive" class="col row">
                <p class="col-auto align-self-center mb-0">OT Plan</p>
                <div class="col">
                  <input type="number" formControlName="ot" min="0.5" class="form-control form-control-sm border-0 rounded-3 w-100 shadow-none bg-grey"
                    [(ngModel)]="ot_plan" required>
                </div>
              </div>
            </div>

            <div class="row my-3">
              <input type="submit" class="rounded-3 border-0 py-1 px-5 submit-btn mx-auto" placeholder="Submit"
                [disabled]="mode.length==0 || assign_form.controls['end_date'].value==undefined || assign_form.pristine || assign_form.invalid"
                (click)="onSubmit()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="assign_form.controls['start_date'].value && assign_form.controls['end_date'].value">
    <div class="mt-4 my-2 mx-2 heading-wrapper d-flex align-items-center">
      <h3 class="ms-2 me-2 heading mb-0">Employees</h3>
      <p class="text-white bg-blue py-1 px-2 rounded-3 d-flex justify-content-start mb-0">
        <i class="col-auto fas fa-calendar me-2"></i>
        {{ localeDateFormat(assign_form.controls['start_date'].value) + ' - ' + localeDateFormat(assign_form.controls['end_date'].value) }}
      </p>
      <p class="mb-0 mx-2">{{ '('+ countSelected +' selected)' }}</p>
      <p class="mb-0 ms-auto">{{ 'Total: ' + department.total_employee +' employees' }}</p>
    </div>

    <div class="card rounded-25 border-0 shadow-lg mt-2">
      <div class="row my-3 mx-4 filter-group">
        <div class="col position-relative input-group input-group-sm px-0">
          <i-feather name="search" class="position-absolute feather-20"></i-feather>
          <input class="form-control border-0 border-bottom rounded-0 ps-5 shadow-none" type="text" [formControl]="filter"/>
        </div>
        <div class="col-2 row">
          <p class="mb-0 col-auto align-self-center">Shift</p>
          <ng-select [(ngModel)]="filter_select.shift" [clearable]=false class="pb-0 rounded-3 filter-group col">
            <ng-option *ngFor="let item of shift_option" [value]="item.value">{{ item.value }}</ng-option>
          </ng-select>
        </div>
        <div class="col-2 row">
          <p class="mb-0 col-auto align-self-center">OT Plan</p>
          <ng-select [(ngModel)]="filter_select.ot" [clearable]=false class="pb-0 rounded-3 filter-group col">
            <ng-option *ngFor="let item of ot_option" [value]="item.value">{{ item.value }}</ng-option>
          </ng-select>
        </div>
        <div class="col-2 row">
          <p class="mb-0 col-auto align-self-center">Type</p>
          <ng-select [(ngModel)]="filter_select.type" [clearable]=false class="pb-0 rounded-3 filter-group col">
            <ng-option *ngFor="let item of type_option" [value]="item.value">{{ item.value }}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="table-responsive mx-4">
        <table class="table table-hover table-borderless">
          <thead class="text-white">
            <tr>
              <th><input type="checkbox" class="form-check-input" [(ngModel)]="isAllChecked" (change)="setAllSelected()"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Shift</th>
              <th scope="col" class="text-center">OT Plan</th>
              <th scope="col" class="text-center">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let planshift of planshifts | slice: (page-1) * pageSize : page * pageSize" [class]="planshift.start_time? 'green':'grey'">
              <th><input type="checkbox" class="form-check-input" [(ngModel)]="planshift.checked" (change)="updateEmployeeSelected()"></th>
              <th scope="row">{{ planshifts.indexOf(planshift)+1 }}</th>
              <th class="text-center">{{ planshift.employee[0].first_name + ' ' + planshift.employee[0].last_name }}</th>
              <th class="text-center">{{ planshift.date }}</th>
              <th class="text-center">{{ planshift.start_time + '-' + planshift.end_time }}</th>
              <th class="text-center">{{ planshift.overtime }}</th>
              <th class="text-center">{{ planshift.employee[0].employee_type }}</th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row mx-4 my-2 align-items-center">
        <ng-select [items]="table_option" bindLabel="value" bindValue="value" class="custom d-flex justify-content-start align-items-center col-1 rounded-50 pb-0"
          name="pageSize" [(ngModel)]="pageSize" [searchable]="false" [clearable]="false">
        </ng-select>
        <p class="d-flex align-items-center col-auto m-0">
          {{ 'Showing '+ (pageSize*(page-1)+1) +' to '+ (pageSize*page>employees.length? employees.length:pageSize*page) +' of '+ employees.length +' results'}}
        </p>
        <ngb-pagination class="d-flex justify-content-end col align-items-center" [pageSize]="pageSize" [(page)]="page"
          [collectionSize]="employees.length">
        </ngb-pagination>
      </div>
    </div>
  </div>
</main>
