<main>
     <div class="row">
       <div class="col">
            <div class="card rounded-25 border-0 shadow-lg">
                <div class="mt-4 mx-4">
                  <h3 class="mb-0 heading d-inline">Department</h3>
                  <h3 class="name d-inline px-3 ms-4 rounded-25 shadow text-white bg-blue" > {{department[0].name}} </h3>
                </div>
 
            <div class="row mx-3 mt-2 mb-3 g-3">
               <div class="col-2">
                   <div class="chart-wrapper w-75">
                   <svg viewBox="0 0 36 36" class="circular-chart green">
                   <path class="circle-bg"
                    d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                     a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
               <path *ngIf="department[0].active_employee > 0" class="circle"
                   [attr.stroke-dasharray]="getPercentage(department[0].active_employee, department[0].total_employee) + ', 100'"
                   d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                     />
                    <text x="18" y="19.35" class="percentage">{{ getPercentage(department[0].active_employee, department[0].total_employee) + '%' }}</text>
                    <text x="10" y="25.35" class="total-employee">{{ department[0].active_employee + '/' + department[0].total_employee + ' คน' }}</text>
                    </svg>
                 </div>
               </div>
 
                <div class="col align-self-center m-0 detail-wrapper">
                   <div class="row my-3 d-flex align-items-center date-wrapper">
                      <i class="col-auto fas fa-calendar text-blue"></i>
                      <p class="col-auto mb-0 px-3 rounded-25 shadow text-white bg-blue">{{ date }}</p>
                    </div>
 
                 <div class="row my-3 d-flex align-items-center">
                    <i class="fas fa-clock me-2 col-auto"></i>
                    <p class="px-2 rounded-25 bg-white col-auto mb-0">{{ planshifts[0].start_time + ' - ' + planshifts[0].end_time }}</p>
                 </div>
 
                <div class="row my-3 ot-wrapper d-flex align-items-center">
                    <p class="fw-bold mb-0 col-auto">OT Plan</p>
                    <p class="hours rounded-25 bg-white mb-0 px-2 col-auto">{{ planshifts[0].overtime + " hours" }}</p>
                 </div>
                 </div>
              </div>
           </div>
         </div>

       <div class="col-7">
          <div class="card rounded-25 border-0 shadow-lg">
            <div class="container mx-1 mt-2 mb-3 ">
              <div class="row">
              <div class="col"><div class="mt-4 mx-4"><h3>Assign</h3></div>
              </div>
              </div>
            <div>
              <div class="container">
             	 <div class="row no-gutters">
              		<div class="col-6 col-md-2"><h5>From</h5></div>
                	<div class="col-6 col-md-3"><input type="date" id="start" name="start_date"></div>
                 	<div class="col-6 col-md-1"><h5>To</h5></div>
                 	<div class="col-6 col-md-3"><input type="date" id="last" name="last_date"></div>
                </div>
                <div class="row">
                 	<div class="col-6 col-md-2"><h5>Shift</h5></div>
                 	<div class="col"><input type="Time" id="time" name="time"></div>
                </div>
                <div class="row">
                 	<div class="col-6 col-md-2"><h5>OT</h5></div>
                 	<div class="col"><input type="text" name="OT"></div>
                </div>
                <p><input type="submit" style="font-size:110%; margin-left:45%; margin-top:1%;" value="Submit"></p>
              </div>
            </div>
           </div>
          </div>
         </div>
       </div>

 
     <div class="card rounded-25 border-0 shadow-lg mt-3">
       <h3 class="mt-4 mx-4 heading">Plan Shift</h3>
 
       <div class="table-responsive mx-4">
         <table class="table table-hover table-borderless">
           <thead class="text-white">
             <tr>
               <th scope="col"><input type="checkbox" id="select-all"></th>
               <th scope="col">#</th>
               <th scope="col" class="text-center">Name</th>
               <th scope="col" class="text-center">Date</th>
               <th scope="col" class="text-center">Shift</th>
               <th scope="col" class="text-center">OT PLan</th>
               <th scope="col" class="text-center">Type</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let planshift of planshifts | slice: (page-1) * pageSize : page * pageSize">
               <th scope="col"><input type="checkbox" id="emp_1" name="emp"></th>
               <th scope="row">{{ planshifts.indexOf(planshift)+1 }}</th>
               <th class="text-center">{{planshift.employee[0].first_name + ' ' + planshift.employee[0].last_name }}</th>
               <th class="text-center">{{planshift.date}}</th>
               <th class="text-center">{{planshift.start_time + '-' + planshift.end_time}}</th>
               <th class="text-center">{{planshift.overtime}}</th>
               <th class="text-center">{{planshift.employee[0].employee_type}}</th>
             </tr>
           </tbody>
         </table>
       </div>
 
       <div class="row mx-4 my-2 align-items-center">
         <ng-select [items]="table_option" bindLabel="value" bindValue="value" class="custom d-flex justify-content-start align-items-center col-1 rounded-50 pb-0"
           name="pageSize" [(ngModel)]="pageSize" [searchable]="false" [clearable]="false">
         </ng-select>
         <p class="d-flex align-items-center col-auto m-0">
           {{ 'Showing '+ (pageSize*(page-1)+1) +' to '+ (pageSize*page>employees.length? employees.length:pageSize*page) +' of '+ employees.length +' results'}}
         </p>
         <ngb-pagination class="d-flex justify-content-end col align-items-center" [pageSize]="pageSize" [(page)]="page"
           [collectionSize]="employees.length">
         </ngb-pagination>
       </div>
     </div>
   </main>
