@import '../../../scss/variable';
@import '../../../scss/base';

h5 {
  font-size: 1rem;

  @include media(tablet) {
    font-size: 1.25rem;
  }
}

.heading {
  color: #1f3054;
  font-weight: 600;
}

.bg-grey {
  background-color: #f4f4f4;
}

.text {
  &-blue {
    color: $blue;
  }

  &-green {
    color: #42aa4c;
  }
}

.date-wrapper {
  margin: 0 1px;
  padding: 10px 0;
  width: fit-content;
  border-radius: 15px 0;
  background-color: #1f3054;
}
