<div class="card rounded-25 border-0 shadow-lg py-2">
  <!-- info -->
  <h3 class="mx-4 mt-3 mb-0 heading">Employee Informations</h3>
  <div class="row row-cols-1 row-cols-lg-3 rounded-15 bg-grey mx-4 my-2">
    <div class="col mt-3 my-lg-3 d-flex align-items-center">
      <i-feather name="user" class="ms-1 user"></i-feather>
      <h5 class="mb-0 mx-2 d-inline">{{ employee.first_name + ' ' +  employee.last_name}}</h5>
    </div>
    <div class="col mt-3 my-lg-3 row g-2">
      <h5 class="mb-0 ms-2 ms-lg-0 col-auto">Department</h5>
      <h5 class="mb-0 mx-2 rounded-25 bg-white text-blue px-3 col-auto">{{ department.name }}</h5>
    </div>
    <div class="col my-3 row g-2">
      <h5 class="mb-0 ms-2 ms-lg-0 col-auto">Employee Type</h5>
      <h5 class="mb-0 mx-2 col-auto rounded-25 bg-white text-blue px-3">{{ employee.employee_type }}</h5>
    </div>
  </div>

  <!-- button for start & get of work -->
  <div class="mx-4 gx-2">
    <button class="rounded-3 border-0 px-2 me-2 btn-success" (click)="start_work()">Start Work</button>
    <button class="rounded-3 border-0 px-2 btn-danger" (click)="end_work()">Get Off Work</button>
  </div>

  <!-- actual -->
  <h3 class="mx-4 mt-3 mb-0 heading">Shift/OT Actual</h3>
  <div class="mx-4 my-2 bg-grey rounded-15">
    <div class="date-wrapper row">
      <i class="far fa-calendar text-white col-auto ps-3"></i>
      <h5 class="mb-0 ps-0 pe-3 text-white col-auto">{{ today }}</h5>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 mt-1">
      <div class="col mt-3 my-lg-3 d-flex align-items-center">
        <i-feather name="clock" class="ms-3"></i-feather>
        <h5 class="mb-0 ms-3 d-inline">Start Time</h5>
        <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white text-green px-3">{{ time_in }}</h5>
      </div>
      <div class="col mt-3 my-lg-3">
        <h5 class="mb-0 ms-3 ms-lg-0 d-inline">End Time</h5>
        <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white text-green px-3">{{ time_out }}</h5>
      </div>
      <div class="col my-3">
        <h5 class="mb-0 ms-3 ms-lg-0 d-inline">OT</h5>
        <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white text-green px-3">{{ getActualOT() + ' hours'}}</h5>
      </div>
    </div>
  </div>

  <!-- plan -->
  <h3 class="mx-4 mt-3 mb-0 heading">Shift/OT Plan</h3>
  <div *ngIf="planshifts.length > 0">
    <div *ngFor="let plan of planshifts" class="mx-4 my-2 bg-grey rounded-15">

      <div class="date-wrapper row">
        <i class="far fa-calendar text-white col-auto ps-3"></i>
        <h5 class="mb-0 ps-0 pe-3 text-white col-auto">{{ convertToThaiDate(plan.date) }}</h5>
      </div>

      <div class="row row-cols-1 row-cols-lg-3 mt-1">
        <div class="col mt-3 my-lg-3 align-self-center">
          <h5 class="mb-0 ms-3 d-inline">Shift</h5>
          <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white px-3">{{ plan.start_time.slice(0,5) + ' - ' + plan.end_time.slice(0,5) }}</h5>
        </div>
        <div class="col mt-3 my-lg-3">
          <h5 class="mb-0 ms-3 ms-lg-0 d-inline">OT</h5>
          <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white px-3">{{ plan.overtime + ' hours'}}</h5>
        </div>
        <div class="col my-3">
          <h5 class="mb-0 ms-3 ms-lg-0 d-inline">Break Time</h5>
          <h5 class="mb-0 mx-2 d-inline rounded-25 bg-white px-3">{{ getBreaktime(plan.start_time) }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="planshifts.length === 0" class="row bg-grey rounded-15 mx-4 my-2">
    <h5 class="text-center mb-0 py-2">No Plan</h5>
  </div>
</div>
